//.video-grid {
//  display: flex;
//  flex-wrap: wrap;
//
//  & > * {
//    margin-left: 4px;
//    margin-bottom: 24px;
//  }
//}


//.video-grid-header {
//  padding-bottom: 24px;
//  padding-top: 14px;
//  .title {
//    font-size: 1.2rem;
//    font-weight: bold;
//  }
//}


.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

